@font-face 
{
    font-family: Bahnschrift;
    src: url(./Fonts/BahnschriftStyles/BAHNSCHRIFT.TTF);
}
html 
{
    scroll-behavior:auto;
}
*
{
    margin: 0px;
    padding: 0px;
    color:  #f3f307;
    font-size: 100%;
    font-family: Bahnschrift;
}

body
{
    background-color: #080000;
}
a
{
    text-decoration: none;
    color: #cfcf00;
}
h2
{
    font-weight: normal;
}
a:hover
{
    color: #f3f307;
    font-size: 20px;
}
p
{
    font-size: 16px;
}
#Menu
{
    height: 150px;
}
#MenuContainer
{
    letter-spacing: 2px;
    height: 140px;
    width: 100%;
    position: absolute;
}
#LogoLink
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
#LogoImage
{
    width: 100px;
    padding: 5px;
    border: solid 1.8px #f3f307;
    border-radius: 50%;
}
#LogoImage:hover
{
    width: 110px;
}
